<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>米度用户中心登录</title>

    <!-- Bootstrap -->
    <link href="/css/bootstrap-3.3.7.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-theme-min-3.3.7.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <img src="/images/user_logo.png"/>
    <form>
        <div class="form-group">
            <label for="userName">登录用户</label>
            <input type="text" class="form-control" id="userName" name="userName"/>
        </div>
        <div class="form-group">
            <label for="password">登录密码</label>
            <input type="password" class="form-control" id="password"/>
        </div>
        <button type="submit" class="btn btn-primary">登录</button>
    </form>
</div>


<script src="/js/jquery-1.12.4.min.js"></script>
<script src="/js/bootstrap-3.3.7.min.js"></script>
</body>
</html>